.center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content2 {
    background-color: #e9ebe2;
}

.center-80 {
    margin: 0 5%;
    display: flex;
    align-self: center;
}

.pop {
    color: white;
    font-size: 50px;
    margin-top: 5%;
    letter-spacing: 5px;
    text-shadow: 0 2px 1px #747474,
        -1px 3px 1px #767676,
        -2px 5px 1px #787878,
        -3px 7px 1px #7a7a7a,
        -4px 9px 1px #7f7f7f,
        -5px 11px 1px #838383,
        -6px 13px 1px #878787,
        -7px 15px 1px #8a8a8a,
        -8px 17px 1px #8e8e8e,
        -9px 19px 1px #949494,
        -10px 21px 1px #989898,
        -11px 23px 1px #9f9f9f
}

.nav {
    background-color: black;
}

.chevron-change {
    display: none;
}

.center-change {
    background-image: url(https://image.freepik.com/free-photo/panorama-blue-sky-with-soft-cloud_34152-2116.jpg);
    background-size: cover;
}

