.card-case {
    margin: 2% 5%;
    perspective: 600px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 50px;
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.card {
    width: 200px;
    height: 150px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    transform-origin: center right;
}

.card-6, .card-3 {
    transform-origin: center left;
}

.card-face {
    border-radius: 15px;
}



.card-1.is-flipped {
    transform: rotateX(180deg);
}

.card-2.is-flipped {
    transform: rotateY(180deg);
}

.card-3.is-flipped {
    transform: rotateZ(180deg);
}

.card-4.is-flipped {
    transform: rotateX(-180deg);
}

.card-5.is-flipped {
    transform: rotateY(-180deg);
}

.card-6.is-flipped {
    transform: rotateZ(-180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: black;
    text-align: center;
    font-size: 20px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.card-front-x,
.card-front-y,
.card-front-z {
    background: white;
}

.card-back-x {
    background: white;
    transform: rotateX(180deg);
    animation: bgcolor 10s infinite;
    animation-direction: random($limit: 1);
    animation-delay: -3s;
}

.card-back-y {
    background: white;
    transform: rotateY(180deg);
    animation: bgcolor 10s infinite;
    animation-direction: random($limit: 1);
    animation-delay: -6s;
}

.card-back-z {
    transform: rotateZ(180deg);
    animation: bgcolor 10s infinite;
    animation-direction: random($limit: 1);
    animation-delay: -9s;
}

.card-front-y {
    transform: rotateZ(360deg);
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, lighten(rgba(53, 136, 245, 0.658), 10%) 50%);
    transition: background-position 1s;

    &:hover {
        background-position: -100% 0%;
    }
}

.card-front-x {
    transform: rotateZ(360deg);
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, white 50%, lighten(rgba(71, 245, 100, 0.692), 10%) 50%);
    transition: background-position 1s;

    &:hover {
        background-position: 0% -100%;
    }
}

.card-front-z {
    transform: rotateZ(360deg);
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, lighten(rgba(225, 240, 13, 0.562), 10%) 50%);
    transition: background-position 1s;

    &:hover {
        background-position: 100% 0%;
    }
}

@keyframes bgcolor {
    0% {
        background-color: rgb(202, 163, 163);
        color: lighten($color: black, $amount: 10%);
    }

    30% {
        background-color: #61d826;
        color: lighten($color: black, $amount: 10%);
    }

    60% {
        background-color: rgb(255, 153, 0);
        color: lighten($color: black, $amount: 20%);
    }

    90% {
        background-color: rgb(63, 60, 60);
        color: lighten($color: black, $amount: 100%);
    }

    100% {
        background-color: #1c3fb1;
        color: lighten($color: black, $amount: 50%);
    }
}
