

$myRed: rgb(181, 63, 75);
$myYellow: rgb(253, 215, 130);

// variables

//functions

@function set-notification-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000;
  }

  @else {
    @return #ffffff; 
  }
}


html, body {
  margin: 0;
  height: 100%;
  font-family: 'Do Hyeon', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: $myYellow;
  width: 100%;
  height: 100%;
}

h1 {
  color: $myRed;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 110%;
  height: 50px;
  border-bottom: 3px solid $myRed;
  display: flex;
  align-items: space-around;
  z-index: 10;
  background-color: $myYellow;
  overflow: hidden;


    .icons {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin: 5px;
    }

}

#main-content {
  width: 100%;
  height: 100vh;
  margin: 20px;
}

.hero {
  position: absolute;
  width: auto;
}

#hero-text-name {
  min-width: 300px;
  height: 100px;
  color: $myRed;
  left: 42%;
  top: 200px;
}

#hero-text-aa {
  min-width: 300px;
  height: 120px;
  color: black;
  z-index: -1;
  left: 42%;
  top: 300px;
}

.books {
  width: 500px;
  height: auto;
}

.fab {
  color: $myRed;
  justify-self: center;
  margin: 5px;
}

#space-taker {
  width: 100%;
  height: 500px;
}

.content-2 {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.content-2-header {
  width: 50%;
}

.chevron-1 {
    bottom: -80vw;
    right: 0;
    width: 20%;
    padding: 20px;
    position: absolute;
    animation-name: chevron;
    animation-duration: 5s;
    overflow: hidden;
    animation-iteration-count: infinite;
    z-index: -2;

}

.chevron-2 {
    bottom: -80vw;
    right: 80%;
    width: 20%;
    padding: 20px;
    position: absolute;
    animation-name: chevron;
    animation-duration: 3.5s;

    animation-iteration-count: infinite;
    z-index: -2;
}

@keyframes chevron {
  0% {bottom: -80vw;}
  50% {bottom: 0;}
  100% {bottom: -80vw; visibility: 0; opacity: 0;}
}

// content 3 Cards


.card-case {
  margin: 40px 0;
  perspective: 600px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin: 5%;
  width: 100%;
  height: auto;
}

.card {
  max-width: 300px;
  max-height: 200px;
  min-width: 150px;
  min-height: 150px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card-1.is-flipped {
  transform: rotateX(180deg);
}

.card-2.is-flipped {
  transform: rotateY(180deg);
}

.card-3.is-flipped {
 transform: rotateZ(180deg);
}

.card-4.is-flipped {
 transform: rotateX(-180deg);
}

.card-5.is-flipped {
 transform: rotateY(-180deg);
}

.card-6.is-flipped {
 transform: rotateZ(-180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: $myRed;
  text-align: center;
  font-size: 20px;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.card-front {
  background: white;
}

.card-back-x {
  background: white;
  transform: rotateX(180deg);
  animation: bgcolor 10s infinite;
  animation-direction: random($limit: 1);
  animation-delay: -3s;
}

.card-back-y {
  background: white;
  transform: rotateY(180deg);
  animation: bgcolor 10s infinite;
  animation-direction: random($limit: 1);
  animation-delay: -6s;
}

.card-back-z {
  transform: rotateZ(360deg);
  animation: bgcolor 10s infinite;
  animation-direction: random($limit: 1);
  animation-delay: -9s;
}

.card-front-z {
    transform: rotateZ(360deg);
    background-color: white;
}




@keyframes bgcolor {
  0% {
    background-color: rgb(202, 163, 163);
    color: lighten($color: black, $amount: 10%);
  }

  30% {
    background-color: #61d826;
    color: lighten($color: black, $amount: 10%);
  }

  60% {
    background-color: rgb(255, 153, 0);
    color: lighten($color: black, $amount: 20%);
  }
  
  90% {
    background-color: rgb(63, 60, 60);
    color: lighten($color: black, $amount: 100%);
  }
  
  100% {
    background-color: #1c3fb1;
    color: lighten($color: black, $amount: 50%);
  }
}


