$myRed: rgb(181, 63, 75);
$myYellow: rgb(253, 215, 130);


html, body {
  margin: 0;
  height: 100%;
  font-family: 'Do Hyeon', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: $myYellow;
  width: 100%;
  height: 100%;
}

h1 {
  color: $myRed;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 110%;
  height: 50px;
  border-bottom: 3px solid $myRed;
  display: flex;
  align-items: space-around;
  z-index: 10;
  background-color: $myYellow;
  overflow: hidden;


    .icons {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin: 5px;
    }

}

#main-content {
  width: 100%;
  height: 100vh;
}

.hero {
  position: absolute;
  left: 50%;
  top: 30%;
  width: auto;
}

#hero-text-name {
  min-width: 300px;
  height: 100px;
  color: $myRed;
}

#hero-text-aa {
  min-width: 300px;
  height: 120px;
  color: black;
  z-index: -1;
}

.books {
  width: 500px;
  height: auto;
}

.fab {
  color: $myRed;
  justify-self: center;
  margin: 5px;
}

#space-taker {
  width: 100%;
  height: 500px;
}

.content-2 {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.content-2-header {
  width: 50%;
}

.chevron-1 {
    bottom: -80vw;
    right: 0;
    width: 20%;
    padding: 20px;
    position: absolute;
    animation-name: chevron;
    animation-duration: 5s;
    overflow: hidden;
    animation-iteration-count: infinite;
    z-index: -2;

}

.chevron-2 {
    bottom: -80vw;
    right: 80%;
    width: 20%;
    padding: 20px;
    position: absolute;
    animation-name: chevron;
    animation-duration: 3.5s;

    animation-iteration-count: infinite;
    z-index: -2;
}

@keyframes chevron {
  0% {bottom: -80vw;}
  50% {bottom: 0;}
  100% {bottom: -80vw; visibility: 0; opacity: 0;}
}






