html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Do Hyeon', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: $myYellow;
    width: 100%;
    height: 100%;
}

h1 {
    color: $myRed;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 110%;
    height: 50px;
    border-bottom: 3px solid $myRed;
    display: flex;
    align-items: space-around;
    z-index: 10;
    background-color: $myYellow;
    overflow: hidden;


    .icons {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 5px;
    }

}
