.designer {
    width: 45%;
    margin-top: 90px;
    padding-bottom: 15px;
    padding-top: 15px;
    stroke: none;
    fill: none;

}



.draw {
    stroke: black;
}


.draw path:nth-child(1) {
    stroke-dasharray: 571.5770874023438;
    stroke-dashoffset: 571.5770874023438;
    animation: letter 10s ease forwards;

}

.draw path:nth-child(2) {
    stroke-dasharray: 515.2633056640625;
    stroke-dashoffset: 515.2633056640625;
    animation: letter 10s ease forwards;
}


.draw path:nth-child(3) {
    stroke-dasharray: 418.8185119628906;
    stroke-dashoffset: 418.8185119628906;
    animation: letter 10s ease forwards;
}

.draw path:nth-child(4) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: letter 10s ease forwards;
}

.draw path:nth-child(5) {
    stroke-dasharray: 693.0792846679688;
    stroke-dashoffset: 693.0792846679688;
    animation: letter 10s ease forwards;
}

.draw path:nth-child(6) {
    stroke-dasharray: 422.5006408691406;
    stroke-dashoffset: 422.5006408691406;
    animation: letter 10s ease forwards;
}

.draw path:nth-child(7) {
    stroke-dasharray: 515.2639770507812;
    stroke-dashoffset: 515.2639770507812;
    animation: letter 10s ease forwards;
}

.draw path:nth-child(8) {
    stroke-dasharray: 246.0244140625;
    stroke-dashoffset: 246.0244140625;
    animation: letter 10s ease forwards;
}

.draw path:nth-child(9) {
    stroke-dasharray: 7392.98583984375;
    stroke-dashoffset: -7392.98583984375;
    animation: letter 10s ease forwards;
}



@keyframes letter {

    to {
        stroke-dashoffset: 0;
    }
}